/tmp
/bin
.idea
.build
.vscode
\#*\#
cscope.*
/netscale
/netscale.pkg
/netscale.exe
/netscale.msi
/netscale-x86-64*
/netscale.1
/packaging
.DS_Store
*-session.log
ssh_server_tests/.env
/.cover
built_artifacts/
